html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  background: #46b39d;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
